body{
     background-color: #e3e7e8;
}
.product img{
    height: 150px;
    object-fit: contain;
    background-color: white;
}
p,h2{
    text-align: center;
}

.row
{
    margin: 20px;
}
a{
    text-decoration: none;
    color: #e3e7e8;
}

a:hover
{
    color: #e3e7e8;
}

